/* body{
    background-image: url(https://sohanews.sohacdn.com/2018/10/1/429703988601793577050773128299984785506304n-1538391675410268783754.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
} */
.form-login{
    width: 700px; 
    margin: 0 auto ; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow:0 0px 5px #000;
    color: #181817;
}

.form-login label{
    font-weight: 600;
}

.form-login input{
    background: transparent;
    border: 2px solid #f69b1d;
}

.form-password{
    position: relative;
    font-size: 18px;
    color: brown;
}

.see, .no-see{
    position: absolute;
    top: 346px;
    left: 70%;
}